.ul_section {
    margin-top: 50px;
    padding: 10px;
}
.text_box {
    background-color: darkgray;
    border: 1px solid lightgray;
    margin: 2px;
    padding: 5px;
}
.div_section {
    margin-top: 10px;
}